>/panel/base

block bread
    li: a(href="/panel/sections/") Категории товаров
    if section
        li: a(href="/panel/sections/edit-section/#{section._id}/")= section.title
    li Редактировать товар

block content
    h1 Редактировать товар
    form(action="" method="post" enctype="multipart/form-data")
        table.table.table-bordered
            tr
                td Название:
                td
                    input(type="text" name="title" value=offer.title).form-control
            tr
                td Цена:
                td
                    input(type="number" name="price" value=offer.price).form-control
             tr
                td Краткое описание:
                td
                    input(type="text" name="description" value=offer.description).form-control
            tr
                td Единица продажи:
                td
                    input(type="text" name="unit" value=offer.unit).form-control
            tr
                td Изображение:
                td
                    img(src="/img/offers/#{offer.id}.jpg" style="max-width: 200px")
                    br
                    input(type="file" name="image").form-control
            tr
                td Описание товара:
                td
                    textarea(name="content").text-editor= offer.content
        button.btn.btn-primary
            i.glyphicon.glyphicon-ok
            span Сохранить